* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  width: 100%;
  background: url("back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 16px;
  color: white;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

@media (min-width: 0px) {
  p { font-size: 1rem; }
}
@media (min-width: 480px) {
  p { font-size: calc(1.25rem); }
}
@media (min-width: 1200px){
  p { font-size: 1.5rem; }
}

.center {
  text-align: center;
}
h5 {
  margin: 0;
}
.greeting, .shortAbout, .socalList {
  display: flex;
  width:100%;
  justify-content: center;
  text-align: center;
}
#mainPage {
  padding-top: 5%;
}
.greeting {
  font-size: 3rem;
}






a {
  text-decoration: none;
  color: white;
}



/*navigation manu*/
.navMenu {
  font-weight: bold;
}
.navMenu ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-bottom:3%;
}
@media (min-width: 480px) {
  .navMenu li {
    padding: 0px 20px;
  }
  .navMenu li a {
    display: block;
    font-size: 1.5rem;
    color: #f3ac3a;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    position: relative;
  }
  .navMenu li a::after{
    content: "";
    background: #f6eaea;
  	mix-blend-mode: multiply;
    width: calc(100% + 20px);
    height: 0;
    position: absolute;
    bottom: -1px;
    left: -10px;
  	transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  .navMenu li a:hover::after{
	  height: calc(100% + 8px)
  }
}
@media (max-width: 480px) {
  .navMenu li {
    padding: 0px 10px;
  }
  .navMenu li a {
    display: block;
    font-size: 1rem;
    color: #f3ac3a;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
  }
  .navMenu li a:hover {
    background: #72177e;
    mix-blend-mode: overlay;
    opacity: 50%;
  }
}






/*contact page*/
.input-container {
  display:flex;
  width: 100%;
  justify-content: center;
}

input,textarea {
  padding: 30px 0;
  width: 100%;
  font-size: 1rem;
  background-color: rgba(50, 19, 76, 0.4);
  color: white;
  border: 2px solid #32134c;
  border-radius: 4px;
}
.styled-input {
  float: left;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
  min-width: 300px;
  width: 35%;
}
.styled-input label {
  color: white;
  padding: 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}
textarea {
    min-height: 5em;
}
.submit-btn {
  font-size: 1.5em;
  padding: 10px 35px;
  border-radius: 20px;
  display: inline-block;
  background-color: #e18d46;
  border: none;
  color: #32134c;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}
input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #ffffff;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}






/*socail media nice links*/
.socalList{
  display:inline-flex;
  padding-top: 50px;
}
.socalList .icon{
  margin:20px;
  cursor:pointer;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  position: relative;
  z-index:2;
}
.socalList .icon span{
  position:relative;
  z-index:2;
  height: 60px;
  width: 60px;
  display:block;
  background: #55236a;
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
  border-radius:50%;
  text-align:center;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.socalList .icon span i{
  font-size:25px;
  line-height:60px;
}
.socalList .icon .tooltip{
  position:absolute;
  top:0px;
  background: #fff;
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
  font-size: 20px;
  padding: 10px 18px;
  border-radius: 25px;
  color:white;
  opacity:0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.socalList .icon:hover .tooltip{
  opacity:1;
  pointer-events: auto;
  top:-70px;
}
.socalList .icon .tooltip:before{
  position:absolute;
  content:"";
  height:15px;
  width:15px;
  bottom:-8px;
  left:50%;
  transform: translateX(-50%) rotate(45deg);
}
.socalList .icon:hover span,
.socalList .icon:hover .tooltip{
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
.socalList .icon:hover span{
  color: #fff;
}
.socalList .github:hover span,
.socalList .github:hover .tooltip,
.socalList .github:hover .tooltip:before{
  background:#171515 ;
}
.socalList .linkedin:hover span,
.socalList .linkedin:hover .tooltip,
.socalList .linkedin:hover .tooltip:before{
  background:#0072b1 ;
}
.socalList .resume:hover span,
.socalList .resume:hover .tooltip,
.socalList .resume:hover .tooltip:before{
  background:#43d5f9;
}

/*about page*/
.center-part {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  border-radius: 20%;
  padding: min(40px, 3%);
  
}
.about-column {
  margin: auto;
  text-align: center;
  
}
@media (min-width: 0) {
  .center-part {flex-direction: column; }
  .about-column {width: 80%;
                min-width: 350px;}
}
@media (min-width: 800px) {
  .center-part {flex-direction: row; }
  .about-column {width: 40%;}
}
@media (min-width: 0px){
  about-column span {font-size:1 rem}
}
@media (min-width: 480px){
  .about-column span { font-size: 1.5rem; }
}
@media (min-width: 1200px){
  .about-column span { font-size: 1.75rem; }
}




/*blog page*/
.center-part-blog {
  width: 80%;
  max-width: 1400px;
  min-width: 390px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
@media (max-width: 480px) {
  .blog-post-container {height: 8rem;}
}
@media (min-width: 480px) {
    .blog-post-container {
      height: 13rem;
    }
  .blog-post-text h3 {font-size: 180%;}
}
.blog-post-container {
  margin: 10px auto;
  padding: 20px 0;
  border-top: ridge 2px #f2c157;
  border-bottom: ridge 2px #f2c158;
  width: 65%;
  min-width: 370px;
  display:flex;
  justify-content: space-between;
}
.blog-post-photo {
  width: 80%;
  height: auto;
}
.blog-post-text {
  width: 100%;
  height: 100%;
  padding: auto 0;
  position: relative;
}
.blog-post-text span {
  display: block;
  text-align: center;
}

.round-img {
  height:100%;
  width:100%;
  object-fit: cover;
  border-radius: 20%;
}
.readMore {
  width:50%;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: absolute;
  margin: 0 auto;
  bottom: -10px;
  right: 0;
}
.readMore:hover{
  background: #fdedc3;
  color: black;
	transition: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.readMore:hover::after{
	height: calc(100% + 8px)
}



/*thankyou page*/
#thankyou {
  margin: 1vh auto;
  padding: 2vh 10px;
  text-align: center;
  display:flex;
  background: rgba(240, 161, 58,  0.5);
  border-radius: 20px;
  width: 50%;
  min-width: 350px;
}
#thankyou span {
  margin: 20px 0;
  font-size: 2rem;
  width: 100%;
  height:100%;
}



/*post page*/
.post-container {
  margin: 0 auto;
  width: 80%;
  min-width: 370px;
  background: rgba(0, 0, 0, 0.2);
  border: 5px solid rgba(0,0,0,.07);
  border-radius: 2px;
  padding: 5vh 2vw;
}
.post-img {
  max-width: 100%;
  width: auto;
}
.post-text {
  width:80%;
  color: black;
  margin: 0 auto;
  padding: 3rem 0;
}

.story ul {
  margin-left: 20px;
}

.story p {
  margin: 0 0 13px 0;
}
.title {
  font-size: 1.5rem;
}

.story a {
  color: #fff;
}

.episode {
  display: grid;
  grid-template-columns: 1fr 5fr;
  position: relative;
}

.episode__number {
  font-size: 5vw;
  font-weight: 600;
  padding: 10px 0;
  position: sticky;
  top: 0;
  text-align: center;
  height: calc(5vw + 20px);
  transition: all 0.2s ease-in;
}

.episode__content {
  border-top: 2px solid #fff;
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-gap: 10px;
  padding: 15px 0;
}

.episode__content .title {
  font-weight: 600
}

.episode__content .story {
  line-height: 26px;
}

@media (max-width: 600px) {
  .episode__content {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  .episode__content .story {
    font-size: 15px;
  }
}